
:root {
  --negro: #000000ff;
  --oscuro: #1c1c1f;

  --app-grey: #F2F2F2;
  --azul: #3333ffff;
  --azul-hover: rgb(40, 40, 197);
  --verde: #00cc7eff;
  --rosa: #ff76e2ff;
  --lila: #8a6df1ff;
  --laranja: #ff7059ff;
  --amarelo: #ffc51aff;

}
